openapi: 3.2.0
info:
  contact:
    x-twitter: JustEatUK
  description: '# Just Eat API

    Just Eat offers services for our various business partners and our consumer applications.'
  title: Just Eat UK Restaurant Webhooks API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_JustEatUK_profile_image.png
  x-origin:
  - format: openapi
    url: https://uk.api.just-eat.io/docs/openapi.json
    version: '3.0'
  x-providerName: just-eat.co.uk
servers:
- description: Production URL for the UK API
  url: https://uk.api.just-eat.io
- description: Production URL for the DK, ES, IE, IT and NO API
  url: https://i18n.api.just-eat.io
- description: Production URL for the AU and NZ API
  url: https://aus.api.just-eat.io
tags:
- name: Restaurant Webhooks
paths:
  /menu-ingestion-complete:
    post:
      description: Callback to confirm that an attempt to ingest a menu has completed either successfully or unsuccessfully
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/menu-ingestion-complete'
        required: true
      responses:
        '200':
          description: OK
      summary: Menu ingestion complete
      tags:
      - Restaurant Webhooks
      operationId: postMenuIngestionComplete
      x-operation-id-source: derived
  /order-time-updated:
    post:
      description: Callback to notify recipients that there has been a change to the restaurant order times for a given day and service type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-time-updated'
        required: true
      responses:
        '200':
          description: OK
      summary: Order time updated
      tags:
      - Restaurant Webhooks
      operationId: postOrderTimeUpdated
      x-operation-id-source: derived
components:
  schemas:
    menu-ingestion-complete:
      example:
        correlationId: 64bef5ee-7265-47f8-9aee-28bc74f00b13
        fault:
          errors:
          - code: '123'
            description: 'Invalid variation: 15237d6c-c866-55da-9e61-b4f59dcab9ae - variations must be associated with at least one availability'
          - code: '145'
            description: 'Invalid availability ID: menu-105369-availabilities - availability IDs must be integers'
          id: 70e307df-0156-4d3c-ab92-dd57a103350b
        restaurantId: '123456'
        result: fail
        tenant: uk
        timestamp: '2020-01-01T00:00:00Z'
      properties:
        correlationId:
          description: The ID of the execution which has been completed
          type: string
        fault:
          description: Details of the fault which caused the menu ingestion to fail. This is only present if menu ingestion did not complete successfully
          properties:
            errors:
              description: Details of errors which caused the fault
              items:
                properties:
                  code:
                    description: An alphanumeric code for the error
                    type: string
                  description:
                    description: A description of the error to help you resolve the issue
                    type: string
                type: object
              type: array
            id:
              description: A unique ID for the fault
              type: string
          type: object
        restaurantId:
          description: The Just Eat restaurant ID
          type: string
        result:
          description: The result of the menu ingestion process
          enum:
          - success
          - fail
          format: enum
          type: string
        tenant:
          description: Country code for the market the restaurant is in
          enum:
          - au
          - dk
          - es
          - ie
          - it
          - 'no'
          - uk
          - nz
          format: enum
          type: string
        timestamp:
          description: The ISO-8601 datetime at which the menu ingestion completed
          format: date-time
          type: string
      type: object
    order-time-updated:
      example:
        dayOfWeek: Monday
        lowerBoundMinutes: 35
        restaurantId: '123456'
        serviceType: Delivery
        upperBoundMinutes: 50
      properties:
        dayOfWeek:
          description: The day of the week that has been updated.
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          format: enum
          type: string
        lowerBoundMinutes:
          description: Order time lower bound value, in minutes.
          format: int32
          type: integer
        restaurantId:
          description: The Just Eat restaurant ID
          type: string
        serviceType:
          description: Service type of the order time.
          enum:
          - Delivery
          - Collection
          format: enum
          type: string
        upperBoundMinutes:
          description: Order time upper bound value, in minutes.
          format: int32
          type: integer
      type: object
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      description: Bearer token authentication using a JSON Web Token (JWT).
      scheme: bearer
      type: http
    api_key:
      description: APIs for delivery partners require an API key that will have been issued to you.
      in: header
      name: Authorization
      type: apiKey
    basic_auth:
      description: A few services allow the use of basic authentication when a partner doesn't support OAuth based authentication.
      scheme: basic
      type: http
    justeat_adfs:
      description: ADFS authentication provider for internal Just Eat tools.
      openIdConnectUrl: https://adfs.just-eat.com/adfs/.well-known/openid-configuration
      type: openIdConnect
    restaurantsignup_jwt:
      bearerFormat: JWT token with payload `RestaurantId` and Role `[RestaurantRead | VerifyEmail | RestaurantWrite | FullAccess | DocumentRead]`
      description: Bearer token authentication using a JSON Web Token (JWT), used by the restaurant sign up system
      scheme: bearer
      type: http
x-tagGroups:
- name: Consumer Experience
  tags:
  - Authorization
  - Consumers
  - ConsumerOffers
  - ConsumerQueries
  - Consumer Queries Webhooks
  - ConsumerOrders
  - Search
  - Basket
  - Payments
  - Giftcards
  - Experiments
  - Vouchers
  - Promoted Placement
  - Menu
  - Recommendations
  - Location Services
- name: Manage Order Journey
  tags:
  - Order Acceptance API
  - Order Acceptance Webhooks
  - Order Delivery API
  - Order Delivery Webhooks
  - Order API
  - Order Webhooks
  - Customer Order Details
  - DeliveryFee
  - Delivery Pools API
  - Attempted Delivery API
  - Attempted Delivery Webhooks
  - Checkout
  - Courier Feedback
- name: Restaurant Management
  tags:
  - Restaurant Product
  - Restaurants
  - RestaurantOffers
  - Restaurant OrderTimes
  - Restaurants Webhooks
  - RestaurantSignup
  - RestaurantQueries
  - RestaurantQueries Webhooks
  - Restaurant Claims
  - Restaurant Events
  - Restaurant Events Webhooks
  - Restaurant API
  - Restaurant Webhooks
  - Products
  - Logistics POS Restaurants
  - Restaurant Smiley Rating
