openapi: 3.2.0
info:
  contact:
    x-twitter: JustEatUK
  description: '# Just Eat API

    Just Eat offers services for our various business partners and our consumer applications.'
  title: Just Eat UK Attempted Delivery Webhooks API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_JustEatUK_profile_image.png
  x-origin:
  - format: openapi
    url: https://uk.api.just-eat.io/docs/openapi.json
    version: '3.0'
  x-providerName: just-eat.co.uk
servers:
- description: Production URL for the UK API
  url: https://uk.api.just-eat.io
- description: Production URL for the DK, ES, IE, IT and NO API
  url: https://i18n.api.just-eat.io
- description: Production URL for the AU and NZ API
  url: https://aus.api.just-eat.io
tags:
- name: Attempted Delivery Webhooks
paths:
  /attempted-delivery-query-resolved:
    put:
      description: This webhook will be invoked whenever an attempted delivery query has been resolved.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attempted-delivery-resolved'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Attempted delivery query resolved
      tags:
      - Attempted Delivery Webhooks
      x-status: Stable
      operationId: putAttemptedDeliveryQueryResolved
      x-operation-id-source: derived
  /delivery-failed:
    put:
      description: This webhook will be invoked whenever an attempted delivery event is created from the device.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attempted-delivery-created'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Delivery Attempt Failed
      tags:
      - Attempted Delivery Webhooks
      operationId: putDeliveryFailed
      x-operation-id-source: derived
components:
  schemas:
    attempted-delivery-resolved:
      example:
        OrderId: wiej234idf09i29jijgf4
        Resolution:
          Redelivery:
            CustomerTimeZone: Europe/London
            NewDueDate: '2018-03-10T14:45:28Z'
            Status: repreparing
          Type: redeliver_order
        Tenant: uk
      properties:
        OrderId:
          description: The ID of the order for which an attempted delivery query has been resolved
          type: string
        Resolution:
          description: Details of the resolution to the query
          properties:
            Cancellation:
              description: The cancellation properties. Only required if the order has been cancelled, otherwise null
              properties:
                Reason:
                  description: The reason for cancelling the order
                  enum:
                  - new_address_not_within_area
                  - unable_to_reprepare
                  - driver_not_available
                  - area_unsafe
                  - customer_doesnt_want_anymore
                  type: string
              type: object
            Redelivery:
              description: The redelivery properties. Only required if the order is being redelivered, otherwise null
              properties:
                CustomerTimeZone:
                  description: The IANA TZ database name of the time zone the customer that placed the order is in
                  type: string
                NewDueDate:
                  description: Updated due date for delivery of the order in ISO 8601 format
                  format: date-time
                  type: string
                Status:
                  description: The current status of the order
                  enum:
                  - driver_at_address
                  - repreparing
                  type: string
              type: object
            Type:
              description: The type of resolution to the query, either cancellation or redelivery
              enum:
              - order_cancelled
              - redeliver_order
              type: string
          type: object
        Tenant:
          description: The tenant of the restaurant the order was placed at
          enum:
          - uk
          - dk
          - es
          - ie
          - it
          - 'no'
          - au
          - nz
          type: string
      type: object
    attempted-delivery-created:
      example:
        OrderId: wiej234idf09i29jijgf4
        Reason: Customer did not answer the door
        RestaurantId: 110230
        Tenant: uk
      properties:
        OrderId:
          description: The id of the order
          type: string
        Reason:
          description: The reason for creating the attempted delivery
          type: string
        RestaurantId:
          description: The id of the restaurant
          type: number
        Tenant:
          description: The tenant associated with the order
          type: string
      type: object
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      description: Bearer token authentication using a JSON Web Token (JWT).
      scheme: bearer
      type: http
    api_key:
      description: APIs for delivery partners require an API key that will have been issued to you.
      in: header
      name: Authorization
      type: apiKey
    basic_auth:
      description: A few services allow the use of basic authentication when a partner doesn't support OAuth based authentication.
      scheme: basic
      type: http
    justeat_adfs:
      description: ADFS authentication provider for internal Just Eat tools.
      openIdConnectUrl: https://adfs.just-eat.com/adfs/.well-known/openid-configuration
      type: openIdConnect
    restaurantsignup_jwt:
      bearerFormat: JWT token with payload `RestaurantId` and Role `[RestaurantRead | VerifyEmail | RestaurantWrite | FullAccess | DocumentRead]`
      description: Bearer token authentication using a JSON Web Token (JWT), used by the restaurant sign up system
      scheme: bearer
      type: http
x-tagGroups:
- name: Consumer Experience
  tags:
  - Authorization
  - Consumers
  - ConsumerOffers
  - ConsumerQueries
  - Consumer Queries Webhooks
  - ConsumerOrders
  - Search
  - Basket
  - Payments
  - Giftcards
  - Experiments
  - Vouchers
  - Promoted Placement
  - Menu
  - Recommendations
  - Location Services
- name: Manage Order Journey
  tags:
  - Order Acceptance API
  - Order Acceptance Webhooks
  - Order Delivery API
  - Order Delivery Webhooks
  - Order API
  - Order Webhooks
  - Customer Order Details
  - DeliveryFee
  - Delivery Pools API
  - Attempted Delivery API
  - Attempted Delivery Webhooks
  - Checkout
  - Courier Feedback
- name: Restaurant Management
  tags:
  - Restaurant Product
  - Restaurants
  - RestaurantOffers
  - Restaurant OrderTimes
  - Restaurants Webhooks
  - RestaurantSignup
  - RestaurantQueries
  - RestaurantQueries Webhooks
  - Restaurant Claims
  - Restaurant Events
  - Restaurant Events Webhooks
  - Restaurant API
  - Restaurant Webhooks
  - Products
  - Logistics POS Restaurants
  - Restaurant Smiley Rating
