openapi: 3.2.0
info:
  contact:
    x-twitter: JustEatUK
  description: '# Just Eat API

    Just Eat offers services for our various business partners and our consumer applications.'
  title: Just Eat UK Attempted Delivery API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_JustEatUK_profile_image.png
  x-origin:
  - format: openapi
    url: https://uk.api.just-eat.io/docs/openapi.json
    version: '3.0'
  x-providerName: just-eat.co.uk
servers:
- description: Production URL for the UK API
  url: https://uk.api.just-eat.io
- description: Production URL for the DK, ES, IE, IT and NO API
  url: https://i18n.api.just-eat.io
- description: Production URL for the AU and NZ API
  url: https://aus.api.just-eat.io
tags:
- name: Attempted Delivery API
paths:
  /{tenant}/orders/{orderId}/queries/attempteddelivery:
    post:
      description: If the customer hasn't answered the door to collect the order, then an attempted delivery event can be created using this endpoint.
      parameters:
      - description: Request tenant e.g. uk.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: Id for the order.
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: Containing a partner issued API key e.g. `JE-API-KEY ABCDE123456789`
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-attempted-delivery'
        description: An object for providing the reason that the attempted delivery event is being created
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request - returned if providing invalid data such as an unacceptable reason code
        '401':
          description: Unauthorized - consumer has not provided the necessary credentials
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      summary: Delivery Attempt Failed
      tags:
      - Attempted Delivery API
      x-status: Stable
      operationId: postByTenantOrdersByOrderIdQueriesAttempteddelivery
      x-operation-id-source: derived
  /{tenant}/orders/{orderId}/queries/attempteddelivery/resolution/redeliverorder:
    post:
      description: If the customer responds, then you can trigger the redelivery of an order through this endpoint
      parameters:
      - description: Request tenant e.g. uk.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: Id for the order.
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: Containing a partner issued API key e.g. `JE-API-KEY ABCDE123456789`
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resolve-attempted-delivery-redeliver'
        description: An object for providing the new status of the order and the updated due date
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request - returned if providing invalid data such as an unacceptable reason code
        '401':
          description: Unauthorized - consumer has not provided the necessary credentials
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      summary: Request Redelivery of the Order
      tags:
      - Attempted Delivery API
      x-status: Stable
      operationId: postByTenantOrdersByOrderIdQueriesAttempteddeliveryResolutionRedeliverorder
      x-operation-id-source: derived
components:
  schemas:
    create-attempted-delivery:
      example:
        ReasonCode: problem_with_address
      properties:
        ReasonCode:
          description: The reason the attempted delivery event was created
          enum:
          - problem_with_address
          - no_answer
          type: string
      type: object
    resolve-attempted-delivery-redeliver:
      example:
        NewDueDate: '2018-03-10T14:45:28Z'
        Status: driver_at_address
      properties:
        NewDueDate:
          description: Updated due date for delivery of the order
          format: date-time
          type: string
        Status:
          description: The current status of the order
          enum:
          - driver_at_address
          - repreparing
          type: string
      type: object
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      description: Bearer token authentication using a JSON Web Token (JWT).
      scheme: bearer
      type: http
    api_key:
      description: APIs for delivery partners require an API key that will have been issued to you.
      in: header
      name: Authorization
      type: apiKey
    basic_auth:
      description: A few services allow the use of basic authentication when a partner doesn't support OAuth based authentication.
      scheme: basic
      type: http
    justeat_adfs:
      description: ADFS authentication provider for internal Just Eat tools.
      openIdConnectUrl: https://adfs.just-eat.com/adfs/.well-known/openid-configuration
      type: openIdConnect
    restaurantsignup_jwt:
      bearerFormat: JWT token with payload `RestaurantId` and Role `[RestaurantRead | VerifyEmail | RestaurantWrite | FullAccess | DocumentRead]`
      description: Bearer token authentication using a JSON Web Token (JWT), used by the restaurant sign up system
      scheme: bearer
      type: http
x-tagGroups:
- name: Consumer Experience
  tags:
  - Authorization
  - Consumers
  - ConsumerOffers
  - ConsumerQueries
  - Consumer Queries Webhooks
  - ConsumerOrders
  - Search
  - Basket
  - Payments
  - Giftcards
  - Experiments
  - Vouchers
  - Promoted Placement
  - Menu
  - Recommendations
  - Location Services
- name: Manage Order Journey
  tags:
  - Order Acceptance API
  - Order Acceptance Webhooks
  - Order Delivery API
  - Order Delivery Webhooks
  - Order API
  - Order Webhooks
  - Customer Order Details
  - DeliveryFee
  - Delivery Pools API
  - Attempted Delivery API
  - Attempted Delivery Webhooks
  - Checkout
  - Courier Feedback
- name: Restaurant Management
  tags:
  - Restaurant Product
  - Restaurants
  - RestaurantOffers
  - Restaurant OrderTimes
  - Restaurants Webhooks
  - RestaurantSignup
  - RestaurantQueries
  - RestaurantQueries Webhooks
  - Restaurant Claims
  - Restaurant Events
  - Restaurant Events Webhooks
  - Restaurant API
  - Restaurant Webhooks
  - Products
  - Logistics POS Restaurants
  - Restaurant Smiley Rating
