openapi: 3.0.0
info:
  contact:
    x-twitter: JustEatUK
  description: "# Just Eat API\nJust Eat offers services for our various business partners and our consumer applications.\nHow you interact with the API depends on the services you wish to interact with.\n## Security\n### HTTPS\nAll api calls and callbacks require HTTPS. Your service will need a valid SSL certificate and be accessible via the standard SSL port (port 443).\n## Making an API request\nSome API calls require an API key, to authenticate the partner calling the API.\n```\nPUT https://uk-partnerapi.just-eat.io/orders/abcd1234 HTTP/1.1\nAuthorization: JE-API-KEY abcd123456789\n```\nOther calls require a user token in the form of a JWT.\n```\nGET https://uk.api.just-eat.io/consumer/me/orders/uk HTTP/1.1\nAuthorization: Bearer abcd123456789\n```\n\n## Date Formats\n### Date and time formats\nAll dates and times should use the [ISO 8601 standard for representation of dates and times](https://en.wikipedia.org/wiki/ISO_8601).\n\n#### For instance:\n* DueDateWithUtcOffset: `\"2015-05-26T14:52:35.5444292+01:00\"`\n  - Local time: `14:52`\n  - UTC time: `13:52`\n  - UTC offset: `+1hr` (due to daylight time saving)\n* DueDateWithUtcOffset: `\"2015-02-03T11:10:00.0000000+00:00\"`\n  - Local time: `11:10`\n  - UTC time: `11:10`\n  - UTC offset: `0` (no daylight time saving, local time is equivalent to UTC)\n\nNote that the offset may be for a timezone different to your own, so you should alway convert to your own local time for display purposes (e.g. on receipts and terminals).\n\n### Callback timestamps\nTimestamps sent to Just Eat should be recorded as the current local time (including any changes needed to account for daylight saving) with an accompanying offset that shows the difference between the recorded local time and the current UTC time.\n\nIf it is not possible to record timestamps in local time, timestamps may be recorded in UTC time with a 00:00 offset.\n## Async Webhooks\nSome of the webhooks on the platform are configured as being 'async' webhooks. These are for long-running operations, and work as follows:\n  1. Your webhook is invoked with a `?callback={returnUrl}` query string parameter. The `returnUrl` is a unique URL that you will need to send the async response to.\n  2. Return an immediate `202 Accepted` response from the webhook endpoint, to indicate that you have received the request.\n  3. Perform the long-running operation. This can be deemed either a _success_; or a _failure_.\n  4. If the result is a _**success**_, return the following:\n  ```\n  POST {returnUrl} HTTP/1.1\n\n  {\n        \"status\": \"Success\",\n        \"message\": \"{successMessage}\",\n        \"data\": {}   // webhook-specific response object\n  }\n  ```\n  5. Otherwise, if the result is a _**failure**_, return the following:\n  ```\n  POST {returnUrl} HTTP/1.1\n\n  {\n        \"status\": \"Failure\",\n        \"message\": \"{failureMessage}\",\n        \"data\": {}   // webhook-specific response object\n  }\n  ```"
  title: Just Eat UK Attempted Delivery API publicly-accessible API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_JustEatUK_profile_image.png
  x-origin:
  - format: openapi
    url: https://uk.api.just-eat.io/docs/openapi.json
    version: '3.0'
  x-providerName: just-eat.co.uk
servers:
- description: Production URL for the UK API
  url: https://uk.api.just-eat.io
- description: Production URL for the DK, ES, IE, IT and NO API
  url: https://i18n.api.just-eat.io
- description: Production URL for the AU and NZ API
  url: https://aus.api.just-eat.io
tags:
- name: publicly-accessible
paths:
  /acceptance-requested:
    post:
      description: This webhook will be invoked whenever acceptance has been requested for the order.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/acceptance-requested'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Acceptance requested
      tags:
      - publicly-accessible
  /attempted-delivery-query-resolved:
    put:
      description: This webhook will be invoked whenever an attempted delivery query has been resolved.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attempted-delivery-resolved'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Attempted delivery query resolved
      tags:
      - publicly-accessible
      x-status: Stable
  /checkout/{tenant}/{checkoutId}:
    get:
      description: "Get the details required to fulfil an order, which includes:\n  - The restaurant selling the items to be purchased\n  - The customer making the purchase\n  - How, where and when the items will be received by the customer\n  - Instructions about the order\n"
      parameters:
      - description: "A two-character country code. \n\nThe following countries are supported:\n  - United Kingdom (UK)\n  - Australia (AU)\n  - New Zealand (NZ)\n"
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: A unique identifier for a checkout. This is currently a Basket Id.
        in: path
        name: checkoutId
        required: true
        schema:
          type: string
      - description: Allows the server to identify the application making the request.
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                customer:
                  firstName: Joe
                  lastName: Bloggs
                  phoneNumber: '+447111111111'
                fulfilment:
                  location:
                    address:
                      administrativeArea: Somerset
                      lines:
                      - 1 Bristol Road
                      locality: Bristol
                      postalCode: BS1 1AA
                    geolocation:
                      latitude: 1
                      longitude: -1
                  time:
                    asap: false
                    scheduled:
                      from: '2020-01-01T00:30:00.000Z'
                      to: '2020-01-01T00:30:00.000Z'
                isFulfillable: true
                issues:
                - code: RESTAURANT_NOT_TAKING_ORDERS
                - additionalSpendRequired: 100
                  code: MINIMUM_ORDER_VALUE_NOT_MET
                  currency: GBP
                  minimumOrderValue: 1000
                restaurant:
                  availabilityId: '5678'
                  id: '1234'
                serviceType: delivery
              schema:
                $ref: '#/components/schemas/CheckoutGetResponse'
          description: 'OK : Request has succeeded.'
          headers:
            cache-control:
              description: Response caching must not be applied.
              schema:
                enum:
                - no-store
                type: string
        '400':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The tenant is invalid
                    errorCode: TENANT_INVALID
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutGet400Error'
          description: 'BAD REQUEST : Cannot process the request due to error by client.'
        '401':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Authentication required to access this resource
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'UNAUTHORIZED : Missing authentication credentials to access target resource.'
        '403':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Access to the resource is forbidden
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'FORBIDDEN : Not authorised to access target resource.'
        '404':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The tenant is not supported
                    errorCode: TENANT_NOT_SUPPORTED
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/Checkout404Error'
          description: 'NOT FOUND : Target resource could not be found.'
        '409':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The checkout is in an invalid state
                    errorCode: CHECKOUT_INVALID
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/Checkout409Error'
          description: 'CONFLICT : Request not completed as it conflicts with target resource.'
        '429':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Couldn't complete request
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'TOO MANY REQUESTS : Request not completed as server has received too many requests in a given amount of time.'
        '500':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Internal Server Error
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'INTERNAL SERVER ERROR : Error on server preventing request from being fulfilled.'
        '503':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Couldn't complete request
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'SERVICE UNAVAILABLE : Server currently unable to fulfil the request. The request can be retried.'
      security:
      - Bearer: []
      summary: Get Checkout
      tags:
      - publicly-accessible
      x-status: Stable
    patch:
      description: "Update the details required to fulfil an order, which includes:\n  - The customer making the purchase\n  - Where and when the items will be received by the customer\n  - Instructions about the order\n"
      parameters:
      - description: "A two-character country code. \n\nThe following countries are supported:\n  - United Kingdom (UK)\n  - Australia (AU)\n  - New Zealand (NZ)\n"
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: A unique identifier for a checkout. This is currently a Basket Id.
        in: path
        name: checkoutId
        required: true
        schema:
          type: string
      - description: Allows the server to identify the application making the request.
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            example:
            - op: add
              path: /customer
              value:
                dateOfBirth: '1980-01-30'
                phoneNumber: '+447111111111'
            schema:
              $ref: '#/components/schemas/CheckoutUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                isFulfillable: true
                issues:
                - code: RESTAURANT_NOT_TAKING_ORDERS
                - additionalSpendRequired: 100
                  code: MINIMUM_ORDER_VALUE_NOT_MET
                  currency: GBP
                  minimumOrderValue: 1000
              schema:
                $ref: '#/components/schemas/CheckoutUpdateResponse'
          description: 'OK : Request has succeeded.'
          headers:
            cache-control:
              description: Response caching must not be applied.
              schema:
                enum:
                - no-store
                type: string
        '400':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The tenant is invalid
                    errorCode: TENANT_INVALID
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutUpdate400Error'
          description: 'BAD REQUEST : Cannot process the request due to error by client.'
        '401':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Authentication required to access this resource
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'UNAUTHORIZED : Missing authentication credentials to access target resource.'
        '403':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Access to the resource is forbidden
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'FORBIDDEN : Not authorised to access target resource.'
        '404':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The tenant is not supported
                    errorCode: TENANT_NOT_SUPPORTED
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/Checkout404Error'
          description: 'NOT FOUND : Target resource could not be found.'
        '409':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The checkout is in an invalid state
                    errorCode: CHECKOUT_INVALID
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/Checkout409Error'
          description: 'CONFLICT : Request not completed as it conflicts with target resource.'
        '429':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Couldn't complete request
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'TOO MANY REQUESTS : Request not completed as server has received too many requests in a given amount of time.'
        '500':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Internal Server Error
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'INTERNAL SERVER ERROR : Error on server preventing request from being fulfilled.'
        '503':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Couldn't complete request
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'SERVICE UNAVAILABLE : Server currently unable to fulfil the request. The request can be retried.'
      security:
      - Bearer: []
      summary: Update Checkout
      tags:
      - publicly-accessible
      x-status: Stable
  /checkout/{tenant}/{checkoutId}/fulfilment/availabletimes:
    get:
      description: Gets a collection of times for when an order can be fulfilled.
      parameters:
      - description: "A two-character country code. \n\nThe following countries are supported:\n  - United Kingdom (UK)\n  - Australia (AU)\n  - New Zealand (NZ)\n"
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: A unique identifier for a checkout. This is currently a Basket Id.
        in: path
        name: checkoutId
        required: true
        schema:
          type: string
      - description: Allows the server to identify the application making the request.
        in: header
        name: User-Agent
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                asapAvailable: true
                times:
                - from: '2020-01-01T00:30:00.000Z'
                  to: '2020-01-01T00:45:00.000Z'
                - from: '2020-01-01T00:45:00.000Z'
                  to: '2020-01-01T01:00:00.000Z'
              schema:
                $ref: '#/components/schemas/GetAvailableFulfilmentTimesResponse'
          description: 'OK : Request has succeeded.'
          headers:
            cache-control:
              description: Response caching must not be applied.
              schema:
                enum:
                - no-store
                type: string
        '400':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The tenant is invalid
                    errorCode: TENANT_INVALID
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutGet400Error'
          description: 'BAD REQUEST : Cannot process the request due to error by client.'
        '404':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The tenant is not supported
                    errorCode: TENANT_NOT_SUPPORTED
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/Checkout404Error'
          description: 'NOT FOUND : Target resource could not be found.'
        '409':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: The fulfilment time bands are in an invalid state
                    errorCode: FULFILMENT_TIME_BANDS_INVALID
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/AvailableFulfilmentTimes409Error'
          description: 'CONFLICT : Request not completed as it conflicts with target resource.'
        '429':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Couldn't complete request
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'TOO MANY REQUESTS : Request not completed as server has received too many requests in a given amount of time.'
        '500':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Internal Server Error
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'INTERNAL SERVER ERROR : Error on server preventing request from being fulfilled.'
        '503':
          content:
            application/json:
              example:
                fault:
                  errors:
                  - description: Couldn't complete request
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  traceId: 0HLOCKDKQPKIU
              schema:
                $ref: '#/components/schemas/CheckoutDefaultError'
          description: 'SERVICE UNAVAILABLE : Server currently unable to fulfil the request. The request can be retried.'
      summary: Get Available Fulfilment Times
      tags:
      - publicly-accessible
      x-status: Stable
  /consumers/{tenant}:
    get:
      description: Currently this operation only supports retrieving a count of consumer accounts given an email address.
      parameters:
      - description: The identifier for the tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: Email address of the consumer.
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
      - description: The account type of the consumer - currently only 'registered' accounts are supported.
        in: query
        name: accountType
        required: true
        schema:
          default: registered
          enum:
          - registered
          type: string
      - description: Returns the number of consumers that matches the `emailAddress` and `accountType`. The query value should be empty, e.g. `/consumers/uk/?emailAddress=someone@email.com&accountType=registered&count`.
        in: query
        name: count
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              example: 1
              schema:
                type: integer
          description: Success
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        '400':
          content:
            application/json:
              example:
                errors:
                - description: The Email is missing or invalid.
                  errorCode: InvalidEmail
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Bad request.
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Tenant not found
                  errorCode: TenantNotFound
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: The specified tenant does not exist.
        '500':
          $ref: '#/components/responses/500ErrorResponse'
        '501':
          content:
            application/json:
              example:
                errors:
                - description: Non-Count queries have not been implemented
                  errorCode: NotImplemented
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/5XXErrorSchema'
          description: The operation has not been implemented
      summary: Get consumers details
      tags:
      - publicly-accessible
    post:
      description: Creates a consumer for the given tenant.
      parameters:
      - description: The identifier for the tenant. The only supported tenants are `uk`, `au` and `nz`
        in: path
        name: tenant
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerCreate'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerCreateResponse'
          description: Consumer created.
        '400':
          content:
            application/json:
              example:
                errors:
                - description: Email is required.
                  errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Bad request.
        '403':
          content:
            application/json:
              example:
                errors:
                - description: Not authorized to do this.
                  errorCode: Forbidden
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Forbidden.
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Tenant not found
                  errorCode: TenantNotFound
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: The specified tenant does not exist.
        '409':
          content:
            application/json:
              example:
                errors:
                - description: The specified email already exists
                  errorCode: Conflict
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: The specified email already exists.
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      summary: Create consumer
      tags:
      - publicly-accessible
  /consumers/{tenant}/me/communication-preferences:
    get:
      description: Get all communication preferences for a given consumer.
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                marketing:
                  isDefault: false
                  subscribedChannels:
                  - email
                  - sms
              schema:
                $ref: '#/components/schemas/CommunicationPreferences'
          description: Success
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        '401':
          content:
            application/json:
              example:
                errors:
                - description: You are unauthorized to perform this request.
                  errorCode: Unauthorized
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                errors:
                - description: You are forbidden from performing this request.
                  errorCode: Forbidden
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Tenant could not be found.
                  errorCode: NotFound
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not Found
        '500':
          $ref: '#/components/responses/500ErrorResponse'
          description: Internal Server Error
      summary: Get communication preferences
      tags:
      - publicly-accessible
  /consumers/{tenant}/me/communication-preferences/{type}:
    get:
      description: Get channel subscriptions for a given consumer's communication preference type
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: The type of communication preferences.
        in: path
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/CommunicationTypes'
      responses:
        '200':
          content:
            application/json:
              example:
                isDefault: false
                subscribedChannels:
                - email
                - sms
              schema:
                $ref: '#/components/schemas/ChannelSubscriptionsWithDerivedField'
          description: Success
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
        '401':
          content:
            application/json:
              example:
                errors:
                - description: You are unauthorized to perform this request.
                  errorCode: Unauthorized
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                errors:
                - description: You are forbidden from performing this request.
                  errorCode: Forbidden
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Tenant could not be found.
                  errorCode: NotFound
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not Found
        '500':
          $ref: '#/components/responses/500ErrorResponse'
          description: Internal Server Error
      summary: Get channel subscriptions for a given consumer's communication preference type
      tags:
      - publicly-accessible
    put:
      description: Set only the channel subscriptions for a given consumer's communication preference type. E.g., An empty list of subscribed Channels implies unsubscribe from all channels.
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: The type of communication preferences.
        in: path
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/CommunicationTypes'
      requestBody:
        content:
          application/json:
            example:
              subscribedChannels:
              - email
              - sms
            schema:
              $ref: '#/components/schemas/ChannelSubscriptions'
        description: The list of channels that the consumer should be subscribed to.
        required: true
      responses:
        '204':
          content: {}
          description: Success
        '401':
          content:
            application/json:
              example:
                errors:
                - description: You are unauthorized to perform this request.
                  errorCode: Unauthorized
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Tenant could not be found.
                  errorCode: NotFound
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not Found
        '500':
          $ref: '#/components/responses/500ErrorResponse'
          description: Internal Server Error
      summary: Set only the channel subscriptions for a given consumer's communication preference type
      tags:
      - publicly-accessible
  /consumers/{tenant}/me/communication-preferences/{type}/subscribedChannels/{channel}:
    delete:
      description: Remove subscription of a specific communication preference channel.
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: The type of communication preference.
        in: path
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/CommunicationTypes'
      - description: The channel.
        in: path
        name: channel
        required: true
        schema:
          type: string
      requestBody:
        content: {}
        required: false
      responses:
        '204':
          content: {}
          description: Success
        '401':
          content:
            application/json:
              example:
                errors:
                - description: You are unauthorized to perform this request.
                  errorCode: Unauthorized
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Tenant could not be found.
                  errorCode: NotFound
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not Found
        '500':
          $ref: '#/components/responses/500ErrorResponse'
          description: Internal Server Error
      summary: Remove subscription of a specific communication preference channel
      tags:
      - publicly-accessible
    post:
      description: Subscribe to a specific communication preference channel.
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: The type of communication preferences.
        in: path
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/CommunicationTypes'
      - description: The channel.
        in: path
        name: channel
        required: true
        schema:
          $ref: '#/components/schemas/CommunicationChannels'
      requestBody:
        content: {}
        required: false
      responses:
        '204':
          content: {}
          description: Success
        '401':
          content:
            application/json:
              example:
                errors:
                - description: You are unauthorized to perform this request.
                  errorCode: Unauthorized
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized
        '403':
          content:
            application/json:
              example:
                errors:
                - description: You are forbidden from performing this request.
                  errorCode: Forbidden
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Forbidden
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Tenant could not be found.
                  errorCode: NotFound
                faultId: b39ae4c1-142f-4308-838d-1f01815e1cf1
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not Found
        '500':
          $ref: '#/components/responses/500ErrorResponse'
          description: Internal Server Error
      summary: Subscribe to a specific communication preference channel
      tags:
      - publicly-accessible
  /delivery-failed:
    put:
      description: This webhook will be invoked whenever an attempted delivery event is created from the device.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attempted-delivery-created'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Delivery Attempt Failed
      tags:
      - publicly-accessible
  /delivery-fees/{tenant}:
    get:
      description: Retrieve delivery fees for many restaurants. Returns fees and minimum order values required for delivery orders.
      parameters:
      - description: Tenant containing the restaurants.
        example: uk
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: Restaurant IDs which fees are requested for. e.g. `?restaurantIds=1,2,3,4`
        example:
        - '1'
        - '2'
        - '3'
        - '4'
        explode: false
        in: query
        name: restaurantIds
        required: true
        schema:
          items:
            type: string
          maxItems: 200
          type: array
        style: form
      - description: Delivery date/time when fees are required (ISO8601 format).
        example: '2019-09-05T12:43:48.431Z'
        in: query
        name: deliveryTime
        required: true
        schema:
          format: date-time
          type: string
      - description: Postcode or other location name identifying the location to which delivery is required. For use when precise location is not available. This will be removed in future in favour of location.
        example: BS1
        in: query
        name: zone
        required: false
        schema:
          type: string
      - description: Point to which delivery is required (latitude, longitude). Supply this where possible as support for zone-only based lookups will be removed in future.
        example:
        - 51.3851513
        - -2.0841275
        explode: false
        in: query
        name: latlong
        required: false
        schema:
          items:
            format: double
            type: number
          maxItems: 2
          minItems: 2
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              examples:
                flatRate:
                  summary: Single fee, with and without minimum order value
                  value:
                    restaurants:
                    - bands:
                      - fee: 250
                        minimumAmount: 1000
                      minimumOrderValue: 1000
                      restaurantId: '1234'
                    - bands:
                      - fee: 100
                        minimumAmount: 0
                      minimumOrderValue: 0
                      restaurantId: '5678'
                flatRateWithFreeTier:
                  summary: Single fee with minimum order value, and free delivery threshold
                  value:
                    restaurants:
                    - bands:
                      - fee: 250
                        minimumAmount: 1000
                      - fee: 0
                        minimumAmount: 2000
                      minimumOrderValue: 1000
                      restaurantId: '1234'
                threeTier:
                  summary: No minimum order value, three pricing tiers
                  value:
                    restaurants:
                    - bands:
                      - fee: 250
                        minimumAmount: 0
                      - fee: 100
                        minimumAmount: 10
                      - fee: 0
                        minimumAmount: 2000
                      minimumOrderValue: 0
                      restaurantId: '1234'
              schema:
                nullable: true
                properties:
                  restaurants:
                    description: Collection of restaurants for which delivery fees were found.
                    items:
                      $ref: '#/components/schemas/RestaurantDeliveryFees'
                    type: array
                type: object
          description: Success
        '400':
          description: Bad request
        '404':
          description: Not found
      summary: Get restaurant delivery fees
      tags:
      - publicly-accessible
  /delivery/estimate:
    get:
      deprecated: true
      description: Get delivery estimate
      parameters:
      - description: The reference of the restaurant to estimate the delivery time from.
        in: query
        name: restaurantReference
        required: true
        schema:
          type: string
      - description: The latitude of the position to estimate the delivery time to.
        in: query
        name: toLat
        required: false
        schema:
          type: string
      - description: The longitude of the position to estimate the delivery time to.
        in: query
        name: toLon
        required: false
        schema:
          type: string
      - description: The postcode to estimate the delivery time to.
        in: query
        name: toPostcode
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/estimated-delivery-time'
          description: OK
      summary: Get delivery estimate
      tags:
      - publicly-accessible
  /delivery/pools:
    get:
      description: A delivery pool is a named group of drivers which deliver food for a set of restaurants.
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    b9c6673b8e5948b98cfbd14a982de2c2:
                      name: Toronto - East
                      restaurants:
                      - 789
                    d5f72466a6dd49a08166d5a044c5b9e4:
                      name: Toronto - West
                      restaurants:
                      - 123
                      - 456
              schema:
                properties:
                  delivery-pool-id:
                    properties:
                      name:
                        description: The name of the pool, used by operations teams, in reports, etc.
                        type: string
                      restaurants:
                        description: A list of Just Eat restaurant ids served by the delivery pool.
                        items:
                          format: int32
                          type: number
                        type: array
                    type: object
                type: object
          description: OK
        '500':
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Get your delivery pools
      tags:
      - publicly-accessible
    post:
      description: A delivery pool is a named group of drivers which deliver food for a set of restaurants.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-delivery-pool'
        required: true
      responses:
        '201':
          description: Pool has been created.
        '400':
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                    - '''Name'' should not be empty'
          description: There was something invalid in your request - check response body for details
        '500':
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Create a new delivery pool
      tags:
      - publicly-accessible
  /delivery/pools/{deliveryPoolId}:
    parameters:
    - description: Identifier for the pool
      in: path
      name: deliveryPoolId
      required: true
      schema:
        type: string
    delete:
      description: The restaurants will no longer be associated with the pool.
      responses:
        '200':
          description: Pool deleted
        '404':
          description: The pool could not be found
        '500':
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Delete a delivery pool
      tags:
      - publicly-accessible
    get:
      description: A delivery pool is a named group of drivers which deliver food for a set of restaurants.
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    name: Toronto - West
                    restaurants:
                    - 123
                    - 456
              schema:
                properties:
                  name:
                    description: The name of the pool, used by operations teams, in reports, etc.
                    type: string
                  restaurants:
                    description: A list of Just Eat restaurant ids served by the delivery pool.
                    items:
                      format: int32
                      type: number
                    type: array
                type: object
          description: OK
        '404':
          description: The pool could not be found
        '500':
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Get an individual delivery pool
      tags:
      - publicly-accessible
    patch:
      description: Modify a delivery pool, changing its name, restaurants or both
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch-delivery-pool'
        description: Request body should contain an object with either or both of the properties. If a property is not specified then the existing values are retained.
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                response:
                  value:
                    name: Toronto - North
                    restaurants:
                    - 123
                    - 456
              schema:
                properties:
                  name:
                    description: The name of the pool, used by operations teams, in reports, etc.
                    type: string
                  restaurants:
                    description: A list of Just Eat restaurant ids served by the delivery pool.
                    items:
                      format: int32
                      type: number
                    type: array
                type: object
          description: Pool has been updated
        '400':
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                    - '''Name'' should not be empty'
          description: There was something invalid in your request - check response body for details
        '404':
          description: The pool could not be found
        '409':
          content:
            text/plain:
              examples:
                response:
                  value: 'Restaurant(s) are already assigned to pools : `{RestaurantId:55474, PoolId:cccebb96452349b799b71a7adc51df66}`'
          description: A restaurant in your request already belongs to another pool
        '500':
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Modify a delivery pool
      tags:
      - publicly-accessible
    put:
      description: Replace an existing delivery pool changing all of its properties
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-delivery-pool'
        required: true
      responses:
        '202':
          content:
            application/json:
              examples:
                response:
                  value:
                    name: Toronto - West
                    restaurants:
                    - 123
                    - 456
              schema:
                properties:
                  name:
                    description: The name of the pool, used by operations teams, in reports, etc.
                    type: string
                  restaurants:
                    description: A list of Just Eat restaurant ids served by the delivery pool.
                    items:
                      format: int32
                      type: number
                    type: array
                type: object
          description: Pool has been replaced
        '400':
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                    - '''Name'' should not be empty'
          description: There was something invalid in your request - check response body for details
        '404':
          description: The pool could not be found
        '409':
          content:
            text/plain:
              examples:
                response:
                  value: 'Restaurant(s) are already assigned to pools : `{RestaurantId:55474, PoolId:cccebb96452349b799b71a7adc51df66}`'
          description: A restaurant in your request already belongs to another pool
        '500':
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
          description: Internal Server Error
      summary: Replace an existing delivery pool
      tags:
      - publicly-accessible
  /delivery/pools/{deliveryPoolId}/availability/relative:
    parameters:
    - description: Identifier for the pool
      in: path
      name: deliveryPoolId
      required: true
      schema:
        type: string
    get:
      description: Get the current amount of time it will take a driver to collect a new order from a restaurant in the pool.
      responses:
        '200':
          content:
            application/json:
              examples:
                request:
                  value:
                    bestGuess: 00:35:00
              schema:
                properties:
                  bestGuess:
                    description: Your best estimation (hh:mm:ss)
                    type: string
                type: object
          description: OK
        '404':
          description: The pool could not be found
      summary: Get availability for pickup
      tags:
      - publicly-accessible
    put:
      description: Set the average amount of time it will take a driver to collect a new order from a restaurant in the pool.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/estimated-time'
        required: true
      responses:
        '202':
          description: Update will take effect shortly
        '404':
          description: The pool could not be found
      summary: Set availability for pickup
      tags:
      - publicly-accessible
  /delivery/pools/{deliveryPoolId}/hours:
    parameters:
    - description: Identifier for the pool
      in: path
      name: deliveryPoolId
      required: true
      schema:
        type: string
    put:
      description: Set the daily start and end times for a pool or set closed flag if the pool does not operate on that day. Start and end times for all days must be provided. Though the API accepts array of start and end times for each day, multiple start and end time for a day are not accepted. If the end time for a day is equal to or before start time, end time will be considered as time for the next day.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delivery-pool-hours'
        required: true
      responses:
        '200':
          description: Pool hours have been updated
        '404':
          description: The pool could not be found
      summary: Set the delivery pools daily start and end times
      tags:
      - publicly-accessible
  /delivery/pools/{deliveryPoolId}/restaurants:
    parameters:
    - description: Identifier for the pool
      in: path
      name: deliveryPoolId
      required: true
      schema:
        type: string
    delete:
      description: Remove restaurants from a delivery pool
      requestBody:
        content:
          application/json:
            schema:
              example:
                restaurants:
                - 123
                - 456
              properties:
                restaurants:
                  description: A list of Just Eat restaurant ids served by the delivery pool.
                  items:
                    format: int32
                    type: number
                  type: array
              type: object
        required: true
      responses:
        '200':
          description: Pool has been updated
        '400':
          description: There was something invalid in your request - check response body for details
        '404':
          description: The pool could not be found
      summary: Remove restaurants from a delivery pool
      tags:
      - publicly-accessible
    put:
      description: Add additional restaurants to a delivery pool
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    restaurants:
                    - 123
                    - 456
              schema:
                $ref: '#/components/schemas/delivery-restaurantslist'
          description: OK
        '400':
          description: There was something invalid in your request - check response body for details
        '404':
          description: The pool could not be found
        '409':
          description: The restaurants could not be added to the pool. Typically this is because they are already assigned to another pool
      summary: Add restaurants to an existing delivery pool
      tags:
      - publicly-accessible
  /driver-assigned-to-delivery:
    put:
      description: Driver Assigned to Delivery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/driver-status'
        required: true
      responses:
        '200':
          description: OK
      summary: Driver Assigned to Delivery
      tags:
      - publicly-accessible
  /driver-at-delivery-address:
    put:
      description: Driver at delivery address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/driver-status'
        required: true
      responses:
        '200':
          description: OK
      summary: Driver at delivery address
      tags:
      - publicly-accessible
  /driver-at-restaurant:
    put:
      description: Driver at restaurant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/driver-status'
        required: true
      responses:
        '200':
          description: OK
      summary: Driver at restaurant
      tags:
      - publicly-accessible
  /driver-has-delivered-order:
    put:
      description: Driver has delivered order
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/driver-status'
        required: true
      responses:
        '200':
          description: OK
      summary: Driver has delivered order
      tags:
      - publicly-accessible
  /driver-location:
    put:
      description: Driver Location
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/driver-location'
        required: true
      responses:
        '200':
          description: OK
      summary: Driver Location
      tags:
      - publicly-accessible
  /driver-on-their-way-to-delivery-address:
    put:
      description: Driver on their way to delivery address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/driver-status'
        required: true
      responses:
        '200':
          description: OK
      summary: Driver on their way to delivery address
      tags:
      - publicly-accessible
  /late-order-compensation-query:
    post:
      description: This webhook will be invoked when a late order compensation query has been raised and a restaurant response is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/late-order-compensation-query'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification
      summary: late order compensation query, restaurant response required
      tags:
      - publicly-accessible
  /late-order-query:
    post:
      description: This webhook will be invoked when a late order query has been raised and a restaurant response is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/late-order-query'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: late order query, restaurant response required
      tags:
      - publicly-accessible
  /menu-ingestion-complete:
    post:
      description: Callback to confirm that an attempt to ingest a menu has completed either successfully or unsuccessfully
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/menu-ingestion-complete'
        required: true
      responses:
        '200':
          description: OK
      summary: Menu ingestion complete
      tags:
      - publicly-accessible
  /order-accepted:
    post:
      description: This webhook will be invoked whenever the order was accepted.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-accepted'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order accepted
      tags:
      - publicly-accessible
  /order-cancelled:
    post:
      description: This webhook will be invoked whenever the order was cancelled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-cancelled'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order cancelled
      tags:
      - publicly-accessible
  /order-eligible-for-restaurant-compensation:
    post:
      description: 'This webhook will be invoked for every cancelled order and it will inform if the order is eligible for compensation.

        '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEligibleForRestaurantCompensation'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order Eligible For Restaurant Compensation
      tags:
      - publicly-accessible
  /order-is-ready-for-pickup:
    put:
      description: <p>The "Ready for pickup" event lets the delivery partner know that the food has been cooked and is now ready for collection up from the restaurant.</p><p>When this event is received, it is important that you let your driver know that the order should now be collected from inside the restaurant. For example, this driver notification could take the form of an in-app notification or an SMS message.</p><p>This communication is needed to support restaurants who are unable to accommodate drivers inside their premises, as it allows restaurants to notify drivers waiting outside that they should come inside to collect their order.</p><p>NB&semi; This event can be sent by the restaurant at any point after the order is accepted by the restaurant (for instance, this event may be sent before the driver has arrived at the restaurant).</p>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ready-for-pickup'
        required: true
      responses:
        '200':
          description: Upon successful receipt of the event, delivery partners should return a 200 HTTP status code indicating acknowledgement of transmission.
        default:
          content:
            application/json:
              schema:
                properties:
                  Details:
                    type: string
                  Message:
                    type: string
                  OrderId:
                    type: string
                  Timestamp:
                    format: date-time
                    type: string
                type: object
          description: In the unlikely case of unknown errors, JUST EAT will log a raw response. If possible, the response should have the following format
      summary: Order ready for pickup
      tags:
      - publicly-accessible
  /order-ready-for-preparation-async:
    post:
      description: "This webhook will be invoked when we have determined that an order is ready for preparation. Upon receiving the request, you should perform any preparation-related activities, such as sending the order to the POS system / kitchen screen.\n**NOTE:** This version of the webhook is asynchronous, and we expect a response in two parts:\n  1. We expect an immediate `202` response from this webhook to denote that you have received the request;\n  2. Following that, we expect an [async callback](#section/Async-Webhooks) - indicating either success or failure of the operation. The body for the async callbacks are as below:\n  \n  **Success callback**\n  ```\n  {\n        \"status\": \"Success\",\n        \"message\": \"Order successfully sent to POS\",\n        \"data\": {}\n  }\n  ```\n  **Failure callback**\n  ```\n  {\n        \"status\": \"Failure\",\n        \"message\": \"{errorMessage}\",   // e.g. \"The POS is currently in use\"\n        \"data\": {}\n  }\n  ```\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-ready-for-preparation'
        required: true
      responses:
        '202':
          description: Upon successful receipt of this event, a `202` status code should be returned, indicating the request has been accepted. You should then later respond with the result of processing this request, via the [callback URL](#section/Async-Webhooks) endpoint.
        '400':
          description: 'Should the initial validation of the order fail, return a `400` status code. NOTE: In this instance we do not also expect a failure callback via the async callback URL.'
      summary: Order ready for preparation (async)
      tags:
      - publicly-accessible
  /order-ready-for-preparation-sync:
    post:
      description: 'This webhook will be invoked when we have determined that an order is ready for preparation. Upon receiving the request, you should perform any preparation-related activities, such as sending the order to the POS system / kitchen screen.

        '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-ready-for-preparation'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order ready for preparation (sync)
      tags:
      - publicly-accessible
  /order-rejected:
    post:
      description: This webhook will be invoked whenever the order was rejected.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-rejected'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: Order rejected
      tags:
      - publicly-accessible
  /order-requires-delivery-acceptance:
    put:
      description: This webhook will be invoked when we have determined that an order is required acceptance for delivery. Upon receiving the request, the order should be scheduled for pickup by a courier/driver. We expect an immediate `201` response from this webhook to denote that you have received the request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connectorder-list'
        required: true
      responses:
        '201':
          description: In the event of successful handling of the request, a 201 status code should be returned, indicating acknowledgement of transmission success.
        default:
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        code:
                          description: <p>Each code should be selected from the following list of valid reasons.</p><table><tr><th>code</th><th>explanation</th></tr><tr><td>`outside_hours`</td><td>Delivery partner is closed and not accepting requests.</td></tr><tr><td>`too_busy`</td><td>Delivery partner does not have enough capacity to accept this request.</td></tr><tr><td>`too_far`</td><td>The customer is too far away from the restaurant, either by time or distance.</td></tr><tr><td>`not_supported`</td><td>Delivery partner is currently unable to deliver to the customer's location.</td></tr><tr><td>`bad_address`</td><td>The order contains an address that could not be processed or understood.</td></tr><tr><td>`bad_request`</td><td>The order format is invalid or the order contains required data or information that cannot be processed.</td></tr><tr><td>`restaurant_not_configured`</td><td>Delivery partner is not configured to accept requests for given restaurant.</td></tr><tr><td>`duplicate`</td><td>The request has already been processed before.</td></tr><tr><td>`other`</td><td>Any validation failure or unexpected error not covered by the above codes.</td></tr></table>
                          enum:
                          - outside_hours
                          - too_busy
                          - too_far
                          - not_supported
                          - bad_address
                          - bad_request
                          - restaurant_not_configured
                          - duplicate
                          - other
                          type: string
                        message:
                          description: <p>The accompanying message should, in each case, provide an explanation of the specific problem that was experienced.</p><br/><p>Please note that the accompanying explanatory text are part of the code is only intended as an explanation of each reason code - and should not be returned to us as the message.</p>
                          type: string
                      type: object
                    type: array
                type: object
          description: In the case that the order cannot be accepted, an appropriate HTTP status code, such as 400 (Bad request) or 500 (Internal server error) should be returned.  In addition to the HTTP status code, a specific reason code and explanatory message should be provided within the response body
      summary: Order requires delivery acceptance
      tags:
      - publicly-accessible
  /order-time-updated:
    post:
      description: Callback to notify recipients that there has been a change to the restaurant order times for a given day and service type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-time-updated'
        required: true
      responses:
        '200':
          description: OK
      summary: Order time updated
      tags:
      - publicly-accessible
  /orders:
    post:
      description: Create order
      parameters:
      - description: The api version to use. Version 2.0 is the only available version.
        example: 2
        in: header
        name: x-je-api-version
        required: false
        schema:
          default: 1
          type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-request-v2'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  OrderId:
                    type: string
                type: object
          description: Created
        '400':
          description: Bad Request - Request is for deprecated API version or has failed validation in some way - see response body for details
        '409':
          content:
            application/json:
              schema:
                properties:
                  OrderId:
                    type: string
                type: object
          description: Conflict - you've already told us about an order with this `OrderReference`
      summary: Create order
      tags:
      - publicly-accessible
  /orders/deliverystate/driverlocation:
    put:
      description: Current driver location (bulk upload)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk-delivery-details-list'
        required: true
      responses:
        '200':
          description: OK
      summary: Update current driver locations (bulk upload)
      tags:
      - publicly-accessible
  /orders/{orderId}/accept:
    put:
      description: Call when an order has been accepted. An order can only be accepted if it hasn't previously been accepted, rejected, cancelled or ignored
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-accept-request'
        required: true
      responses:
        '200':
          description: OK
        '404':
          description: Order could not be found
        '409':
          description: Conflict. This order has either already been accepted, rejected or ignored by restaurant or cancelled by ops
      summary: Accept order
      tags:
      - publicly-accessible
  /orders/{orderId}/cancel:
    put:
      description: Call when an order has been cancelled by Ops. Cancelling an order overrides any previous accept/reject calls. This should not be used for restaurant rejection but only from Ops involvement
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-cancel-request'
        required: true
      responses:
        '200':
          description: OK
        '404':
          description: Order could not be found
        '409':
          description: Conflict. This order has already been cancelled
      summary: Cancel order
      tags:
      - publicly-accessible
  /orders/{orderId}/complete:
    x-status: Draft
    post:
      description: Call when an order is complete. An order can only be marked as complete if it hasn't already been marked as cancelled or complete.
      parameters:
      - description: The ID of the order to mark as complete
        in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content - status updated successfully
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Order could not be found
                faultId: b6a1d658-dda4-41b6-a9a5-dbfb7ba7b2aa
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not found - order could not be found
        '409':
          content:
            application/json:
              example:
                errors:
                - description: Order cannot be marked as complete because it is already marked as cancelled
                faultId: 9c63827b-6fad-46bf-9e9a-9aafec941824
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Conflict - this order has already been marked as cancelled or complete
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      summary: Complete order
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/atdeliveryaddress:
    put:
      description: <p>The _at delivery address_ callback should be sent when the driver thinks that they have arrived at the specified delivery address.</p><p>NB&semi; This callback should be distinct from the delivered callback, as Just Eat use this callback to understand how much time is spent locating the customer's address.</p>
      parameters:
      - description: Just Eat order identifier
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delivery-details'
        required: true
      responses:
        '200':
          description: OK
      summary: Update order with driver at delivery address details
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/atrestaurant:
    put:
      description: The _at restaurant_ callback should be sent when the driver arrives at the restaurant and is ready to collect the order.
      parameters:
      - description: Just Eat order identifier
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delivery-driver-details-with-eta'
        required: true
      responses:
        '200':
          description: OK
      summary: Update order with driver at restaurant details
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/atrestauranteta:
    put:
      description: <p>In the UK, this endpoint updates the estimated arrival time at the restaurant. This value can be overridden from other endpoints like <a href="https://uk.api.just-eat.io/docs#tag/Order-Delivery-API/paths/~1orders~1{orderId}~1deliverystate~1driverlocation/put">Driver Locations</a> </p> <p> This endpoint should be used to set initial at restaurant ETAs prior to driver assignment where available. The earlier a delivery partner is able to provide an estimate of when the driver will arrive at the restaurant the more likely it is that driver arrival and order preparation will be aligned. </p> <p> In other tenants (Not UK):Note that if set for a given order, this Eta will NOT be overridden by any other at restaurant ETAs provided in `DriverAssigned` or `DriverLocation` requests</p> <p>This value is significant since it informs when a restaurant is instructed to start preparing food. When the time remaining between current time and the estimated time of arrival becomes less than the restaurant's configured preparation time, food preparation is initiated</p>
      parameters:
      - description: Just Eat order identifier
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eta-estimate'
        required: true
      responses:
        '200':
          description: OK
      summary: Update the driver's estimated time to arrive at the Restaurant
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/delivered:
    put:
      description: The _delivered_ callback should be sent when the driver has handed the food to the customer and completed the order.
      parameters:
      - description: Just Eat order identifier
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delivery-details'
        required: true
      responses:
        '200':
          description: OK
      summary: Update order with delivered details
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/driverassigned:
    put:
      description: The _driver assigned_ callback should be sent when a driver is assigned to the order. It should communicate important details about the driver - and also an estimated time for the driver to arrive at the restaurant and delivery address.
      parameters:
      - description: Just Eat order identifier
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delivery-driver-assigned-details'
        required: true
      responses:
        '200':
          description: OK
      summary: Update order with driver assigned details
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/driverlocation:
    put:
      description: <p>Just Eat requires all delivery partners to send regular driver location callbacks, that record the GPS location of the drivers assigned to each order</p><p>Partners should aim to supply this callback approximately every 10 seconds.</p><p>Please provide an up-to-date ETA for when the driver will reach the restaurant in this request - this value is significant since it informs when a restaurant is instructed to start preparing food - when the time remaining between current time and the estimated time of arrival becomes less than the restaurant's configured preparation time, food preparation is initiated</p><p>Note that at restaurant Eta provided in this request will NOT override any ETA set in the Driver At Restaurant Eta request</p>
      parameters:
      - description: Just Eat order identifier
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delivery-driver-location'
        required: true
      responses:
        '200':
          description: OK
      summary: Update the driver's current location
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/driverunassigned:
    put:
      description: The _driver unassigned_ callback should be sent when a driver is unassigned from the order. It may details about the reason for cancelling the assignment, the driver details, and any newer at restaurant and customer estimations.
      parameters:
      - description: Just Eat order identifier
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delivery-driver-unassigned-details'
        required: true
      responses:
        '200':
          description: OK
        '400':
          content:
            application/json:
              example:
                partnerId:
                - Partner id was not found or could not be parsed
              schema:
                $ref: '#/components/schemas/extensibleObject'
          description: Bad Request.
      summary: Update order with driver unassigned details
      tags:
      - publicly-accessible
  /orders/{orderId}/deliverystate/onitsway:
    put:
      description: The _on its way_ callback should be sent when the driver departs the restaurant with the customer's order. It should contain an ETA that records when the driver expects to arrive at the customer's address.
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/on-its-way-details'
        required: true
      responses:
        '200':
          description: OK
      summary: Update order with driver on its way details
      tags:
      - publicly-accessible
  /orders/{orderId}/duedate:
    put:
      description: 'Use this to update the estimated time of arrival for an order (i.e. when you expect the customer to receive the food). NOTE: An initial estimate is given [upon acceptance](#/paths/~1orders~1{orderId}~1accept/put). This endpoint can be used to update that estimate.

        '
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-due-date-request'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: The due date is missing, or out of range (either in the past, or > 7 days in the future).
        '404':
          description: The order could not be found.
      summary: Update order ETA
      tags:
      - publicly-accessible
  /orders/{orderId}/ignore:
    put:
      description: Call when an order has been ignored by restaurant. An order can only be ignored if it hasn't previously been accepted, rejected, cancelled or ignored
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '404':
          description: Order could not be found
        '409':
          description: Conflict. This order has either already been accepted, rejected or ignored by restaurant or cancelled by ops
      summary: Ignore order
      tags:
      - publicly-accessible
  /orders/{orderId}/readyforcollection:
    x-status: Draft
    post:
      description: Call when a collection order is ready to be collected by the customer. An order can only be marked as ready for collection if it is a collection order in the accepted state.
      parameters:
      - description: The ID of the order to mark as ready for collection
        in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content - status updated successfully
        '400':
          content:
            application/json:
              example:
                errors:
                - description: Order cannot be marked as ready for collection because it is not a collection order
                faultId: aa5d282c-498e-47dd-acca-d4bb811a8f9d
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Bad request - order cannot be marked as ready for collection because it is not a collection order
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Order could not be found
                faultId: 15c27f5b-5121-4c1f-bea3-34378dff2a79
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not found - order could not be found
        '409':
          content:
            application/json:
              example:
                errors:
                - description: Order cannot be marked as ready for collection because it is already marked as complete
                faultId: 9c63827b-6fad-46bf-9e9a-9aafec941824
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Conflict - this order is not in the accepted state
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      summary: Mark order as ready for collection
      tags:
      - publicly-accessible
  /orders/{orderId}/reject:
    put:
      description: Call when an order has been rejected. An order can only be rejected if it hasn't previously been accepted, rejected, cancelled or ignored
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-reject-request'
        required: true
      responses:
        '200':
          description: OK
        '404':
          description: Order could not be found
        '409':
          description: Conflict. This order has either already been accepted, rejected or ignored by restaurant or cancelled by ops
      summary: Reject order
      tags:
      - publicly-accessible
  /orders/{tenant}/{orderId}/consumerqueries/lateorder/restaurantresponse:
    post:
      description: If a customer has requested an update on the status of a late order, a response can be given by calling this endpoint.
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: Id for the order.
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: Containing a partner issued API key e.g. `JE-API-KEY ABCDE123456789`
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              additionalDeliveryTimeToAddMinutes: 5
              lateOrderStatus: OnItsWay
            schema:
              $ref: '#/components/schemas/LateOrderRestaurantResponse'
        description: An object for updating the status of a late order query with the amount of time to add to the delivery estimate in minutes (optional)
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          content:
            application/json:
              example:
                errors:
                - description: Justification notes are required for this query. Query Type:type Tenant:tenant QueryId:queryId OrderId:orderId
                  errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Bad Request. Returned if the request is invalid i.e. missing a required parameters
        '401':
          content:
            application/json:
              example:
                errors:
                - description: Unauthorized.
                  errorCode: Unauthorized
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized. Consumer is not authorized to modify the resource
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Order 1234 was not found
                  errorCode: NotFound
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not Found. Order query or Order not found
        '409':
          content:
            application/json:
              example:
                errors:
                - description: Query 1234 cannot be responded to at this time
                  errorCode: Conflict
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Conflict. Query not in state to accept response
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      summary: Response to Late Order Update Request
      tags:
      - publicly-accessible
  /orders/{tenant}/{orderId}/consumerqueries/lateordercompensation/restaurantresponse:
    post:
      description: If a customer has requested compensation for a late order, a restaurant response is given by calling this endpoint.
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: Id for the order.
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: Containing a partner issued API key e.g. `JE-API-KEY ABCDE123456789`
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LateOrderCompensationRestaurantResolution'
        description: The restaurant response to a late order compensation request. Indicates either a monetary amount (when the compensation is accepted); or a rejection reason (when compensation is rejected).
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          content:
            application/json:
              example:
                errors:
                - description: A reason is required when compensation is rejected.
                  errorCode: BadRequest
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Bad Request. Returned if the request is invalid - e.g. contains missing or invalid parameters.
        '401':
          content:
            application/json:
              example:
                errors:
                - description: Unauthorized.
                  errorCode: Unauthorized
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized. Consumer is not authorized to modify the resource
        '404':
          content:
            application/json:
              example:
                errors:
                - description: Order 1234 was not found
                  errorCode: NotFound
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Not Found. Order query or Order not found
        '409':
          content:
            application/json:
              example:
                errors:
                - description: Query 1234 cannot be responded to at this time
                  errorCode: Conflict
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Conflict. Query not in state to accept response
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      summary: Update late order compensation request with Restaurant response
      tags:
      - publicly-accessible
      x-status: Unstable
  /orders/{tenant}/{orderId}/restaurantqueries/compensation:
    post:
      description: When an order is cancelled the restaurant might be eligible for compensation, this endpoint allows a request for compensation to be created.
      parameters:
      - description: Request tenant.
        in: path
        name: tenant
        required: true
        schema:
          type: string
      - description: Id for the order.
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: Containing a partner issued API key e.g. `JE-API-KEY ABCDE123456789`
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRestaurantCompensationQuery'
        description: An object for providing the reason that the compensation is being created
        required: true
      responses:
        '201':
          description: Created
        '400':
          content:
            application/json:
              example:
                errors:
                - description: The value provided in the field ReasonCode is invalid
                  errorCode: InvalidReasonCode
                - description: Comments field is too long, max 1000
                  errorCode: CommentsTooLong
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Bad Request - returned if providing invalid data such as an unacceptable reason code
        '401':
          content:
            application/json:
              example:
                errors:
                - description: Invalid credentials
                  errorCode: Unauthorized
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Unauthorized - consumer has not provided the necessary credentials
        '403':
          content:
            application/json:
              example:
                errors:
                - description: The credentials provided doesn't have permissions to perform the request
                  errorCode: Forbidden
                faultId: 25bbe062-c53d-4fbc-9d6c-3df6127b94fd
                traceId: H3TKh4QSJUSwVBCBqEtkKw==
              schema:
                $ref: '#/components/schemas/4XXErrorSchema'
          description: Forbidden - credentials provided by consumer do not allow access to this resource
        '404':
          content:
            application/json:
[...]
