openapi: 3.2.0
info:
  contact:
    x-twitter: JustEatUK
  description: '# Just Eat API

    Just Eat offers services for our various business partners and our consumer applications.'
  title: Just Eat UK Consumer Queries Webhooks API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_JustEatUK_profile_image.png
  x-origin:
  - format: openapi
    url: https://uk.api.just-eat.io/docs/openapi.json
    version: '3.0'
  x-providerName: just-eat.co.uk
servers:
- description: Production URL for the UK API
  url: https://uk.api.just-eat.io
- description: Production URL for the DK, ES, IE, IT and NO API
  url: https://i18n.api.just-eat.io
- description: Production URL for the AU and NZ API
  url: https://aus.api.just-eat.io
tags:
- name: Consumer Queries Webhooks
paths:
  /late-order-compensation-query:
    post:
      description: This webhook will be invoked when a late order compensation query has been raised and a restaurant response is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/late-order-compensation-query'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification
      summary: late order compensation query, restaurant response required
      tags:
      - Consumer Queries Webhooks
      operationId: postLateOrderCompensationQuery
      x-operation-id-source: derived
  /late-order-query:
    post:
      description: This webhook will be invoked when a late order query has been raised and a restaurant response is required.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/late-order-query'
        required: true
      responses:
        '200':
          description: Respond with a 200 status code to indicate that you have received the notification.
      summary: late order query, restaurant response required
      tags:
      - Consumer Queries Webhooks
      operationId: postLateOrderQuery
      x-operation-id-source: derived
components:
  schemas:
    late-order-compensation-options:
      items:
        $ref: '#/components/schemas/LateOrderCompensationOption'
        type: object
      type: array
    late-order-query:
      example:
        OrderId: wiej234idf09i29jijgf4
        RestaurantId: '110230'
        Tenant: uk
      properties:
        orderId:
          description: Just Eat order identifier
          type: string
        restaurantId:
          description: Just Eat restaurant identifier
          type: string
        tenant:
          description: Tenant (Country) of order restaurant.
          type: string
      type: object
    LateOrderCompensationOption:
      additionalProperties: false
      properties:
        amount:
          description: Cost of the option in local currency
          format: decimal
          type: number
        isRecommended:
          description: Whether this option is the recommended option
          type: boolean
      type: object
    late-order-compensation-query:
      example:
        CompensationOptions:
        - Amount: 200
          IsRecommended: false
        - Amount: 300
          IsRecommended: true
        - Amount: 400
          IsRecommended: false
        OrderId: wiej234idf09i29jijgf4
        RestaurantId: '110230'
        Tenant: uk
      properties:
        compensationOptions:
          $ref: '#/components/schemas/late-order-compensation-options'
          description: List of possible options for compensation
        orderId:
          description: Just Eat order identifier
          type: string
        restaurantId:
          description: Just Eat restaurant identifier
          type: string
        tenant:
          description: Tenant (Country) of order restaurant.
          type: string
      type: object
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      description: Bearer token authentication using a JSON Web Token (JWT).
      scheme: bearer
      type: http
    api_key:
      description: APIs for delivery partners require an API key that will have been issued to you.
      in: header
      name: Authorization
      type: apiKey
    basic_auth:
      description: A few services allow the use of basic authentication when a partner doesn't support OAuth based authentication.
      scheme: basic
      type: http
    justeat_adfs:
      description: ADFS authentication provider for internal Just Eat tools.
      openIdConnectUrl: https://adfs.just-eat.com/adfs/.well-known/openid-configuration
      type: openIdConnect
    restaurantsignup_jwt:
      bearerFormat: JWT token with payload `RestaurantId` and Role `[RestaurantRead | VerifyEmail | RestaurantWrite | FullAccess | DocumentRead]`
      description: Bearer token authentication using a JSON Web Token (JWT), used by the restaurant sign up system
      scheme: bearer
      type: http
x-tagGroups:
- name: Consumer Experience
  tags:
  - Authorization
  - Consumers
  - ConsumerOffers
  - ConsumerQueries
  - Consumer Queries Webhooks
  - ConsumerOrders
  - Search
  - Basket
  - Payments
  - Giftcards
  - Experiments
  - Vouchers
  - Promoted Placement
  - Menu
  - Recommendations
  - Location Services
- name: Manage Order Journey
  tags:
  - Order Acceptance API
  - Order Acceptance Webhooks
  - Order Delivery API
  - Order Delivery Webhooks
  - Order API
  - Order Webhooks
  - Customer Order Details
  - DeliveryFee
  - Delivery Pools API
  - Attempted Delivery API
  - Attempted Delivery Webhooks
  - Checkout
  - Courier Feedback
- name: Restaurant Management
  tags:
  - Restaurant Product
  - Restaurants
  - RestaurantOffers
  - Restaurant OrderTimes
  - Restaurants Webhooks
  - RestaurantSignup
  - RestaurantQueries
  - RestaurantQueries Webhooks
  - Restaurant Claims
  - Restaurant Events
  - Restaurant Events Webhooks
  - Restaurant API
  - Restaurant Webhooks
  - Products
  - Logistics POS Restaurants
  - Restaurant Smiley Rating
