openapi: 3.2.0
info:
  contact:
    x-twitter: JustEatUK
  description: '# Just Eat API

    Just Eat offers services for our various business partners and our consumer applications.'
  title: Just Eat UK Restaurant Events Webhooks API
  version: 1.0.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_JustEatUK_profile_image.png
  x-origin:
  - format: openapi
    url: https://uk.api.just-eat.io/docs/openapi.json
    version: '3.0'
  x-providerName: just-eat.co.uk
servers:
- description: Production URL for the UK API
  url: https://uk.api.just-eat.io
- description: Production URL for the DK, ES, IE, IT and NO API
  url: https://i18n.api.just-eat.io
- description: Production URL for the AU and NZ API
  url: https://aus.api.just-eat.io
tags:
- name: Restaurant Events Webhooks
paths:
  /restaurant-offline-status:
    put:
      description: Callback to notify that a restaurant has been taken offline through an active Restaurant Event or there's been a change in whether the restaurant can override a previous offline status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestaurantOfflineStatus'
        required: true
      responses:
        '200':
          description: OK
      summary: Restaurant Offline Status
      tags:
      - Restaurant Events Webhooks
      operationId: putRestaurantOfflineStatus
      x-operation-id-source: derived
  /restaurant-online-status:
    put:
      description: Callback to notify that a restaurant is now able to come back online as there are no longer any active offline Restaurant Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestaurantOfflineStatus'
        required: true
      responses:
        '200':
          description: OK
      summary: Restaurant Online Status
      tags:
      - Restaurant Events Webhooks
      operationId: putRestaurantOnlineStatus
      x-operation-id-source: derived
components:
  schemas:
    RestaurantOfflineStatus:
      example:
        AllowRestaurantOverride: false
        IsOffline: true
        RestaurantId: '123456'
        Tenant: uk
      properties:
        AllowRestaurantOverride:
          description: Whether a restaurant should be allowed to reverse this offline status change through calls to the Restaurant Events endpoints.
          type:
          - boolean
          - 'null'
        IsOffline:
          description: Represents the current offline status of the restaurant.
          type: boolean
        RestaurantId:
          description: The unique identifier of the restaurant that has their offline status changed.
          type: string
        Tenant:
          description: The two letter country code for the market in which the restaurant operates.
          enum:
          - au
          - dk
          - es
          - ie
          - it
          - 'no'
          - uk
          - nz
          format: enum
          type: string
      type: object
  securitySchemes:
    Bearer:
      bearerFormat: JWT
      description: Bearer token authentication using a JSON Web Token (JWT).
      scheme: bearer
      type: http
    api_key:
      description: APIs for delivery partners require an API key that will have been issued to you.
      in: header
      name: Authorization
      type: apiKey
    basic_auth:
      description: A few services allow the use of basic authentication when a partner doesn't support OAuth based authentication.
      scheme: basic
      type: http
    justeat_adfs:
      description: ADFS authentication provider for internal Just Eat tools.
      openIdConnectUrl: https://adfs.just-eat.com/adfs/.well-known/openid-configuration
      type: openIdConnect
    restaurantsignup_jwt:
      bearerFormat: JWT token with payload `RestaurantId` and Role `[RestaurantRead | VerifyEmail | RestaurantWrite | FullAccess | DocumentRead]`
      description: Bearer token authentication using a JSON Web Token (JWT), used by the restaurant sign up system
      scheme: bearer
      type: http
x-tagGroups:
- name: Consumer Experience
  tags:
  - Authorization
  - Consumers
  - ConsumerOffers
  - ConsumerQueries
  - Consumer Queries Webhooks
  - ConsumerOrders
  - Search
  - Basket
  - Payments
  - Giftcards
  - Experiments
  - Vouchers
  - Promoted Placement
  - Menu
  - Recommendations
  - Location Services
- name: Manage Order Journey
  tags:
  - Order Acceptance API
  - Order Acceptance Webhooks
  - Order Delivery API
  - Order Delivery Webhooks
  - Order API
  - Order Webhooks
  - Customer Order Details
  - DeliveryFee
  - Delivery Pools API
  - Attempted Delivery API
  - Attempted Delivery Webhooks
  - Checkout
  - Courier Feedback
- name: Restaurant Management
  tags:
  - Restaurant Product
  - Restaurants
  - RestaurantOffers
  - Restaurant OrderTimes
  - Restaurants Webhooks
  - RestaurantSignup
  - RestaurantQueries
  - RestaurantQueries Webhooks
  - Restaurant Claims
  - Restaurant Events
  - Restaurant Events Webhooks
  - Restaurant API
  - Restaurant Webhooks
  - Products
  - Logistics POS Restaurants
  - Restaurant Smiley Rating
